#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#input-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.grid-container {
  background-color: rgb(183, 142, 92);
}
#guitar-container {
  display: flex;
}
.guitar-button {
  padding: 0px;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  border-left: 1px solid rgb(50, 44, 44);
  border-bottom: 1px solid rgb(50, 44, 44);
}
#guitar-button:hover {
  border: 1px solid black;
}
.grid-item {
  display: inline-flex;
  border-left: 5px solid rgb(115, 94, 94);
  width: var(--grid-item-size);
  height: var(--grid-item-size);
}
#string {
  position: absolute;
  margin-top: 1.3rem;
  width: 100vw;
  height: 2px;
  background-color: rgb(189, 172, 138);
}
#stopper {
  width: 20px;
  background-color: rgb(78, 52, 3);
}
.open-strings {
  position: absolute;
  padding-left: 20px;
}
.fret-number {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.fret-number-item {
  width: var(--grid-item-size);
}
